{{ define "main" }}
<section class="section blog-list">
    <div class="container">
        <div class="section__header">
            <h1 class="section__title">{{ .Title }}</h1>
        </div>
        <div class="blog-list__content prose">
            {{ .Content }}
        </div>
        {{ $posts := .Pages }}
        {{ if $posts }}
        <div class="blog-list__posts">
            {{ range $posts.ByDate.Reverse }}
            <article class="blog-list__post">
                <time class="blog-list__date" datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "Jan 2, 2006"
                    }}</time>
                <h2 class="blog-list__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ with .Description }}<p class="blog-list__excerpt">{{ . }}</p>{{ end }}
            </article>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ end }}